<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <title>Início</title>
</head>
<body>
    <h2>Login de Clientes</h2>
    <div>
        <form action="e_login" method="POST">
            <label for="id_user"> Usuario </label>
            <input type="text" id="id_user" name="id_user" maxlength="80" required>
            <label for="i_pass"> Senha </label>
            <input type="password" id="i_pass" name="i_pass" required>
            <input type="submit" id="sub_bot" value="Login">
        </form>
        {% if mensagem %}
        <div class="mensagem">
            {{mensagem}}
        </div>
        {% endif %}
    </div>
   
</body>
</html>